header {
    margin-top: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 100%;
    height: 50px;
}

nav {
    position: fixed;
    width: 550px;
    transform: translateX(400px);
}


i {
    color:  white;
    font-size: 18px;
    transform: translateX(-750px);

}

.ButtonHeader{
    background-color: white;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    border-style: none;
    font-size: 17px;
    color: #020F2C;
    cursor: pointer;
    margin-left: 50px;
}

.A-Nav {
    color: white;
    text-decoration: none;
    margin-left: 50px;
}


@media screen and (max-width: 500px) {
    header {
        display: none;
    }
}

@media screen and (min-width: 501px) and (max-width: 1100px) {
    
    header {
        display: flex;
        justify-content: center;
    }
    
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(0px);
    }
}
