@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Joan&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

main {
    text-align: center;
    transform: translateY(70px);
}

.MinhaImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./imagemMinha.jpg');
    border-radius: 500px;
    border: 2px solid #C8B569;
    width: 300px;
    height: 300px;
}

.Div-Img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}


.span-Hero {
    color: #FFDC68;
}

.ButtonHero:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
}



