.Todos-Projetos {
    transform: translateY(420px);
}

h2 {
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    text-align: center;
    animation: h2-Scroll both;
    animation-timeline: view(50% 20%);
    animation-range: entry 20% cover 100vh;
}
@keyframes h2-Scroll {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes Projetos {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        opacity: 1;
        filter: none;
        scale: 1;
        translate: 0 0;
    }
}

.fa-brands fa-github {
    color: white;
}
.Span3 {
    color: #94FFE1;
}

.Pro-Container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.Projeto {
    cursor: pointer;
    margin-bottom: 50px;
    width: 280px;
    height: 350px;
    border-radius: 12px;
    background: linear-gradient(to bottom, #232B60, #151932);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}



.Projeto:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in;
}

.Img-Projeto {
    border: none;
    width: 100%;
    height: 140px;
    border-radius: 12px 12px 0px 0px;

}

.Projeto h5 {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: "Buda", serif;
    font-weight: 900;
    font-style: normal;
}

.Projeto p {
    font-size: 12px;
    color: #C4C4C4;
    margin: 0px 20px 0px 20px;
}


.Sk {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    
}


.Skill-Projeto:hover {
    transform: scale(1.0);
}

.Pro-Container a {
    text-decoration: none;
}